/* Style the lines by removing the fill and applying a stroke */
  .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: #ffab00;
    stroke: #fff;
  }

  .focus circle {
    fill: none;
    stroke: steelblue;
  }

  .visualize{
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

  }
  .visualize__graphContainer{
    height: auto;
    width: 50%;
  }
  .visualize__market{
    height: auto;
    width: 50%;
  }
  .flexCol{
    display: flex;
    flex:1;
    align-items: center;
  }